.main-layout {
  max-width: 60rem;
  margin: 0 auto;
}

.header {
  margin-top: 4rem;
}

.about > p {
  font-size: 0.95rem;
  text-align: justify;
}

.footer {
  position: fixed;
  height: 4rem;
  bottom: 0;
  right: 1rem;
}

.content {
  min-height: 30rem;
}

h1 {
  color: #333333;
}

h2 {
  color: #6B6B6B;
  text-align: center;
}


@media screen and (max-width: 710px) {
  .main-layout {
    padding: 0 2.5rem;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  .footer {
    position: relative;
    bottom: unset;
    right: unset;
    padding: 1rem 0;
  }
}
